.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 30vh;
}

.formGroup {
    margin-bottom: .5rem;
}

.formGroup input {
    display: block;
    border: 2px solid var(--color-white);
    border-radius: 4px;
    outline: none;

    padding: .5rem 1rem;
}

.formGroup input:focus {
    border: 2px solid var(--color-white);
    background-color: var(--color-gray-2);
    color: var(--color-white);
}