.header {
    border-bottom: 1px solid var(--color-gray-2);

    width: 80%;
    height: 8vh;
    padding: 0 1rem;

    position: fixed;
    top: 0px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userID {
    color: var(--color-gray-2);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.headerLogo {
    color: var(--color-gray-2);
    font-size: .80rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-gray-2);
    border-radius: 50%;

    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .userID {
        font-size: 1.5rem;
    }
}