.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100%;
}

.content {
    box-shadow: 0px 0px 10px var(--color-black);
    border-radius: 6px;
    overflow: hidden;

    width: 60%;
    height: 50vh;
}

.formContainer {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    width: 100%;
    height: 100%;
}

form {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    position: relative;
}

.loadSpan {
    border-color: var(--bg-light);
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.step {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--bg-dark);
    overflow-y: auto;

    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    position: absolute;
}

.step h4 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.notice {
    color: var(--color-gray-2);
    font-size: .80rem;
}

.flexRight {
    display: flex;
    align-items: center;
    justify-content: right;

    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

/* hint */
.hint {
    display: flex;
}

/* step 1 */
.stepOne {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.step .flex {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40%;
    margin: 1rem auto;
}

.stepOne input {
    border: 0;
    border-radius: 4px;

    max-width: 40%;
    padding: .5rem 1rem;
}

.stepOne input:focus {
    background-color: var(--color-gray-2);
    color: var(--color-white);
}

/* step 2 */
.stepTwo span {
    color: #3f3;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.stepTwo .yes {
    background-color: #3f3;
    color: var(--color-white);
}

.stepTwo .no {
    background-color: var(--color-red);
    color: var(--color-white);
    margin-left: 1rem;
}